page-display {
    text-align: center;
    font-family: gill sans;
    .bg{
        background-image: url(../../assets/imgs/17309080f3643e7ebda459dd9c5faac9.jpg);
        background-position: center;
        background-size: cover;
    }
    .inputs{
        opacity: 0.4;
    }
    
} 
