<!--
  Generated template for the DisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!isSearchbarOpened"></ion-title>
    <ion-searchbar *ngIf="!isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="!isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="!isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding class="bg">
  <ion-list class="inputs">
  <ion-item > 
    <ion-label color="primary" fixed>Name</ion-label>
    <ion-input type="text" placeholder="Student Name" #UserName></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label color="primary" fixed>Last Name</ion-label>
    <ion-input type="text" placeholder="Last Name" #LastName></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-label color="primary" fixed>Student No</ion-label>
    <ion-input type="text" placeholder="Enter Student Number" #StudentNo></ion-input>
  </ion-item>
<br>
  <button ion-button color="primary" round (click)="Display(UserName.value, LastName.value, StudentNo.value)">ADD Students</button>
</ion-list>

<ion-card class="card" *ngFor="let emp of signUparr ; let i =index">
  <b>Name:</b>  {{emp.UserName}}
  <b>LastName:</b>  {{emp.LastName}}
  <b>Student Number:</b>  {{emp.StudentNo}}

  <!-- Update Buttons -->
  <button ion-button color="green" round (click)="update(i,UserName.value,LastName.value,StudentNo.value)">Update</button>
  <button ion-button color="danger" round (click)="methodDelete(i, any)">Delete</button>
</ion-card>
</ion-content>
