page-home {
 button{
     box-align: center;
     margin-top: 50%;
    //  opacity: 0.3;
    background: linear-gradient(rgba(0, 0,0,0) rgba(0, 0,0,0))
 }
 .bg{
     background-image: url(../../assets/imgs/17309080f3643e7ebda459dd9c5faac9.jpg);
     background-position: center;
     background-size: cover;
 }
}
